<a href="https://colab.research.google.com/github/njeruthuo/hello/blob/main/problem_set_3_answers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**In this problem, you will create two simple pandas objects.**

    1. Create a pandas Series object with indices given by the first 10 letters of the English alphabet and values given by the first 10 primes.

In [ ]:
# libs import
import pandas as pd

In [ ]:
# Here, the alphabets are the indices
alphabets = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
primes = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

series = pd.Series(primes, index=alphabets)

    2.Below is a table that might arise in a genetics experiment. Reconstruct this as a pandas DataFrame.

In [ ]:
data = {
    'animal': ['goat','goat','goat','goat', 'bird','bird','bird','bird', 'Ilama','Ilama','Ilama','Ilama',],
    'parent1': ['A', '', 'a', '','A', '','a','','A', '', 'a',''],
    'parent2':  ['A', 'a', 'A', 'a','A', 'a','A','a','A', 'a', 'A','a'],
    'score1': [1,2,3,4,5,6,7,8,9,10,11,12],
    'score2': [2,4,4,6,6,8,8,10,10,12,12,14]
}

df = pd.DataFrame(data)

df

   animal parent1 parent2  score1  score2
0    goat       A       A       1       2
1    goat               a       2       4
2    goat       a       A       3       4
3    goat               a       4       6
4    bird       A       A       5       6
5    bird               a       6       8
6    bird       a       A       7       8
7    bird               a       8      10
8   Ilama       A       A       9      10
9   Ilama               a      10      12
10  Ilama       a       A      11      12
11  Ilama               a      12      14

**Problem 2: Data cleaning ðŸ§½ & Data Wrangling**

    1.Create the following data frame. Find the number of unique values from the df dataset "col2"

In [ ]:
data = {
    'col1': [1,2,3,4,9],
    'col2': [444,555,666,444,777],
    'col3':  ['abc','NaN', 'ghi', 'xyz', 'NaN']
    }
df = pd.DataFrame(data)
df

   col1  col2 col3
0     1   444  abc
1     2   555  NaN
2     3   666  ghi
3     4   444  xyz
4     9   777  NaN

In [ ]:
series = pd.Series(df['col2'])
uniques = series.nunique()
uniques

4

    2.Create a simple function and use pd.apply() to double the value in "col1".

In [ ]:
def double_value(x):
    return x * 2


df['col1'] = df['col1'].apply(double_value)

df

   col1  col2 col3
0     2   444  abc
1     4   555  NaN
2     6   666  ghi
3     8   444  xyz
4    18   777  NaN

      3.Permanently remove "col1" from df dataframe.

In [ ]:
df = df.drop('col1', axis=1)
df

   col2 col3
0   444  abc
1   555  NaN
2   666  ghi
3   444  xyz
4   777  NaN

      4.Fill the NA value in col3 with "FILL".

In [ ]:
df['col3'] = df['col3'].replace('NaN', 'FILL')
df

   col2  col3
0   444   abc
1   555  FILL
2   666   ghi
3   444   xyz
4   777  FILL

     5. For a new dataset "data" below, create a pivot table. Set columns "A" and "B" as hierarchical index, and used column "C" to create the columns of the pivot table.

In [ ]:
data = {
    'A': ['foo','foo','foo','bar','bar','bar'],
    'B': ['one','one','two','two','one','one',],
    'C': ['x', 'y', 'x', 'y', 'x','y'],
    'D': [1, 3, 2, 5, 4, 1],
}
df = pd.DataFrame(data)

# df
pivot_table = df.pivot_table(index=['A', 'B'], columns='C', values='D')

pivot_table

C          x    y
A   B
bar one  4.0  1.0
    two  NaN  5.0
foo one  1.0  3.0
    two  2.0  NaN

# Problem 3: Diamond

      1.Download the "diamonds.csv" from here, load and read the file. Use hash symbol, #, and briefly explain the data set and the meaning of each column.

In [ ]:
from google.colab import files

uploaded = files.upload()

Saving diamonds.csv to diamonds.csv

In [ ]:
diamonds = pd.read_csv('diamonds.csv')
diamonds

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

**Using # to explain the meaning of each column**

In [ ]:
#Carat: This represents the weight of the diamond in carats, which is a unit of mass for gemstones. Carat weight is often considered a significant factor in determining the price of a diamond.

#Cut: It describes the quality of the diamond's cut, ranging from Fair, Good, Very Good, to Premium and Ideal. The cut refers to how well the diamond's facets interact with light, affecting its brilliance and sparkle.

#Color: This column represents the color grade of the diamond, with a scale ranging from D (colorless) to Z (light yellow or brown). Colorless diamonds are generally considered more valuable.

#Clarity: It denotes the presence of any internal or external flaws, known as inclusions and blemishes, respectively. The clarity grade ranges from IF (internally flawless) to I3 (included), with higher grades indicating fewer imperfections.

#Depth: The depth percentage refers to the depth of the diamond as a proportion of its diameter. It provides insights into the diamond's shape and how well it reflects light.

#Table: The table percentage represents the width of the diamond's top facet (table) as a proportion of its diameter. It influences the diamond's brilliance and how light is dispersed.

#Price: This column indicates the price of the diamond, which serves as the target variable in many analyses.

#X, Y, Z: These columns represent the length, width, and depth of the diamond in millimeters. These measurements can provide additional insights into the diamond's shape and proportions.

#Drop columns x, y, z from the diamonds dataset

In [ ]:
# Drop columns 'x', 'y', and 'z'
diamonds.drop(['x', 'y', 'z'], axis=1, inplace=True)

# Verify the updated dataset
print(diamonds.head())

   carat      cut color clarity  depth  table  price
0   0.23    Ideal     E     SI2   61.5   55.0    326
1   0.21  Premium     E     SI1   59.8   61.0    326
2   0.23     Good     E     VS1   56.9   65.0    327
3   0.29  Premium     I     VS2   62.4   58.0    334
4   0.31     Good     J     SI2   63.3   58.0    335

Here is a new dataframe called "additional_info", combine this new dataframe with the diamonds dataframe based on the "cut" column.

Use comments and briefly explain the new columns.

In [ ]:
additional_info = pd.DataFrame({
    'cut': ['ideal', 'good', 'very good'],
    'additional_column': [10, 20, 30]
})

# Merge the diamonds and additional_info dataframes based on the 'cut' column
merged_df = pd.merge(diamonds, additional_info, on='cut')

# The merged_df dataframe now contains the following columns:
# - carat: The weight of the diamond in carats.
# - cut: The quality of the diamond's cut.
# - color: The color grade of the diamond.
# - clarity: The clarity grade of the diamond.
# - depth: The depth percentage of the diamond.
# - table: The table percentage of the diamond.
# - price: The price of the diamond.
# - additional_column: The additional information column associated with the cut.


# Verify the merged dataframe
print(merged_df.head())

Empty DataFrame
Columns: [carat, cut, color, clarity, depth, table, price, additional_column]
Index: []

**Calculate the average price of diamonds based on their clarity.**

In [ ]:
# Calculate the average price based on clarity
average_price_by_clarity = diamonds.groupby('clarity')['price'].mean()

# Print the average price by clarity
print(average_price_by_clarity)

clarity
I1      3924.168691
IF      2864.839106
SI1     3996.001148
SI2     5063.028606
VS1     3839.455391
VS2     3924.989395
VVS1    2523.114637
VVS2    3283.737071
Name: price, dtype: float64


**Select all the rows which satisfy the following requirements: "carat > 3, cut=Premium, color=J"**

In [ ]:
# Select rows that satisfy the requirements
selected_rows = diamonds[(diamonds['carat'] > 3) & (diamonds['cut'] == 'Premium') & (diamonds['color'] == 'J')]

# Print the selected rows
print(selected_rows)

       carat      cut color clarity  depth  table  price
25999   4.01  Premium     J      I1   62.5   62.0  15223
27679   3.51  Premium     J     VS2   62.5   59.0  18701
27684   3.01  Premium     J     SI2   60.7   59.0  18710
27685   3.01  Premium     J     SI2   59.7   58.0  18710

##**Problem 4: Titanic**

In [ ]:
from google.colab import files

uploaded = files.upload()

Saving titanic.csv to titanic.csv

In [ ]:
titanic = pd.read_csv('titanic.csv')
titanic.head(5)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

1. PassengerId: A unique identifier assigned to each passenger.
2. Survived: Indicates whether the passenger survived (1) or did not survive (0) the Titanic disaster.
3. Pclass: Represents the passenger class (1st, 2nd, or 3rd) indicating their socio-economic status.
4. Name: The name of the passenger.
5. Sex: The gender of the passenger (male or female).
6. Age: The age of the passenger in years.
7. SibSp: Represents the number of siblings/spouses aboard the Titanic.
8. Parch: Represents the number of parents/children aboard the Titanic.
9. Ticket: The ticket number of the passenger.
10. Fare: The fare paid by the passenger for the ticket.
11. Cabin: The cabin number assigned to the passenger.
12. Embarked: Represents the port of embarkation (C = Cherbourg, Q = Queenstown, S = Southampton).

**Sort the dataset by column index in ascending order.**

In [ ]:
# Sort the dataset by column index in ascending order
sorted_dataset = titanic.sort_index(axis=1)

# Print the sorted dataset
print(sorted_dataset.head(5))

   adult_male   age alive  alone  class deck  embark_town embarked     fare  \
0        True  22.0    no  False  Third  NaN  Southampton        S   7.2500
1       False  38.0   yes  False  First    C    Cherbourg        C  71.2833
2       False  26.0   yes   True  Third  NaN  Southampton        S   7.9250
3       False  35.0   yes  False  First    C  Southampton        S  53.1000
4        True  35.0    no   True  Third  NaN  Southampton        S   8.0500

   parch  pclass     sex  sibsp  survived    who
0      0       3    male      1         0    man
1      0       1  female      1         1  woman
2      0       3  female      0         1  woman
3      0       1  female      1         1  woman
4      0       3    male      0         0    man

**Sort the titanic dataset by the 'fare' column in descending order.**

In [ ]:
# Sort the dataset by the 'fare' column in descending order
sorted_titanic = titanic.sort_values(by='fare', ascending=False)

# Print the sorted dataset
print(sorted_titanic.head(5))

     survived  pclass     sex   age  sibsp  parch      fare embarked  class  \
258         1       1  female  35.0      0      0  512.3292        C  First
737         1       1    male  35.0      0      0  512.3292        C  First
679         1       1    male  36.0      0      1  512.3292        C  First
88          1       1  female  23.0      3      2  263.0000        S  First
27          0       1    male  19.0      3      2  263.0000        S  First

       who  adult_male deck  embark_town alive  alone
258  woman       False  NaN    Cherbourg   yes   True
737    man        True    B    Cherbourg   yes   True
679    man        True    B    Cherbourg   yes  False
88   woman       False    C  Southampton   yes  False
27     man        True    C  Southampton    no  False

**What are the three highest unique fares paid on the Titanic?**

In [ ]:
# Sort the dataset by the 'fare' column in descending order
sorted_titanic = titanic.sort_values(by='fare', ascending=False)

# Get the three highest unique fares
highest_fares = sorted_titanic['fare'].unique()[:3]

# Print the three highest unique fares
print(highest_fares)

[512.3292 263.     262.375 ]

**Define two new data frames:**

1. df1 that consists of three columns 'class', 'age' and 'sex'
2. df2 consists of three columns 'embark_town', 'fare' and 'alone'.

In [ ]:
# Define df1 with columns 'class', 'age', and 'sex'
df1 = pd.DataFrame({
    'class': ['First', 'Second', 'Third'],
    'age': [25, 30, 35],
    'sex': ['Male', 'Female', 'Male']
})

# Define df2 with columns 'embark_town', 'fare', and 'alone'
df2 = pd.DataFrame({
    'embark_town': ['Cherbourg', 'Southampton', 'Queenstown'],
    'fare': [100.0, 50.0, 75.0],
    'alone': [True, False, True]
})

# Print the data frames
print("df1:")
print(df1)
print("\ndf2:")
print(df2)


# To combine the two datasets in a single pandas line
# Combine df1 and df2, sort by 'age' column in ascending order, and print the result
print(pd.concat([df1, df2]).sort_values('age'))

df1:
    class  age     sex
0   First   25    Male
1  Second   30  Female
2   Third   35    Male

df2:
   embark_town   fare  alone
0    Cherbourg  100.0   True
1  Southampton   50.0  False
2   Queenstown   75.0   True
    class   age     sex  embark_town   fare  alone
0   First  25.0    Male          NaN    NaN    NaN
1  Second  30.0  Female          NaN    NaN    NaN
2   Third  35.0    Male          NaN    NaN    NaN
0     NaN   NaN     NaN    Cherbourg  100.0   True
1     NaN   NaN     NaN  Southampton   50.0  False
2     NaN   NaN     NaN   Queenstown   75.0   True

# **Problem 5: SF Salaries**

You will be using the SF Salaries Dataset from Kaggle! download, load, and read the file. Use hash symbol, #, and briefly explain the data set and the meaning of each column.

In [ ]:
from google.colab import files

uploaded = files.upload()

Saving Salaries.csv to Salaries.csv

**Use the .info() method to find out how many entries there are.**

In [ ]:
# Read the SF Salaries Dataset
salaries = pd.read_csv("Salaries.csv")

# Use the .info() method to get information about the dataset
salaries.info()

<ipython-input-39-e7c47182bfdf>:2: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  salaries = pd.read_csv("Salaries.csv")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [ ]:
# Convert 'BasePay' column to numeric
salaries['BasePay'] = pd.to_numeric(salaries['BasePay'], errors='coerce')

# Calculate the average BasePay
average_basepay = salaries['BasePay'].mean()

# Print the average BasePay
print(average_basepay)

66325.4488404877


**What is the highest amount of OvertimePay in the dataset ?**

In [ ]:
# Convert 'OvertimePay' column to numeric
salaries['OvertimePay'] = pd.to_numeric(salaries['OvertimePay'], errors='coerce')

# Find the highest amount of OvertimePay
highest_overtimepay = salaries['OvertimePay'].max()

# Print the highest amount of OvertimePay
print(highest_overtimepay)

245131.88

**What is the job title of JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).**

In [ ]:
# Filter the dataset for JOSEPH DRISCOLL
joseph_driscoll = salaries[salaries['EmployeeName'] == 'JOSEPH DRISCOLL']

# Retrieve the job title of JOSEPH DRISCOLL
job_title = joseph_driscoll['JobTitle'].values[0]

# Print the job title
print(job_title)

CAPTAIN, FIRE SUPPRESSION

**How much does JOSEPH DRISCOLL make (including benefits)?**

In [ ]:
# Filter the dataset for JOSEPH DRISCOLL
joseph_driscoll = salaries[salaries['EmployeeName'] == 'JOSEPH DRISCOLL']

# Retrieve the total pay with benefits for JOSEPH DRISCOLL
total_pay_benefits = joseph_driscoll['TotalPayBenefits'].values[0]

# Print the total pay with benefits
print(total_pay_benefits)

270324.91

**What is the name of highest paid person (including benefits)?**

In [ ]:
# Sort the dataset by 'TotalPayBenefits' in descending order
sorted_salaries = salaries.sort_values('TotalPayBenefits', ascending=False)

# Retrieve the name of the highest-paid person
highest_paid_person = sorted_salaries['EmployeeName'].values[0]

# Print the name of the highest-paid person
print(highest_paid_person)

NATHANIEL FORD

**What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [ ]:
# Sort the dataset by 'TotalPayBenefits' in ascending order
sorted_salaries = salaries.sort_values('TotalPayBenefits', ascending=True)

# Retrieve the name of the lowest-paid person
lowest_paid_person = sorted_salaries['EmployeeName'].values[0]

# Print the name of the lowest-paid person
print(lowest_paid_person)

Joe Lopez

**What was the average (mean) BasePay of all employees per year? (2011-2014) ?**

In [ ]:
# Convert 'Year' column to numeric
salaries['Year'] = pd.to_numeric(salaries['Year'], errors='coerce')

# Filter the dataset for the years 2011 to 2014
filtered_salaries = salaries[(salaries['Year'] >= 2011) & (salaries['Year'] <= 2014)]

# Calculate the average BasePay per year
average_basepay_per_year = filtered_salaries.groupby('Year')['BasePay'].mean()

# Print the average BasePay per year
print(average_basepay_per_year)

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

**How many unique job titles are there?**

In [ ]:
# Calculate the number of unique job titles
unique_job_titles = salaries['JobTitle'].nunique()

# Print the number of unique job titles
print(unique_job_titles)

2159

**What are the top 5 most common jobs?**

In [ ]:
# Calculate the count of each job title
job_title_counts = salaries['JobTitle'].value_counts()

# Retrieve the top 5 most common jobs
top_5_jobs = job_title_counts.head(5)

# Print the top 5 most common jobs
print(top_5_jobs)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

**How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurrence in 2013?)**

In [ ]:
# Filter the dataset for the year 2013
salaries_2013 = salaries[salaries['Year'] == 2013]

# Calculate the count of job titles with only one occurrence
job_titles_one_person = salaries_2013['JobTitle'].value_counts()[salaries_2013['JobTitle'].value_counts() == 1].count()

# Print the count of job titles represented by only one person in 2013
print(job_titles_one_person)

202

**How many people have the word Chief in their job title? (This is pretty tricky)**

In [ ]:
# Convert job titles to lowercase for case-insensitive search
salaries['JobTitle_lower'] = salaries['JobTitle'].str.lower()

# Count the number of people with 'chief' in their job title
chief_count = salaries[salaries['JobTitle_lower'].str.contains('chief')]['JobTitle'].count()

# Print the number of people with 'Chief' in their job title
print(chief_count)

627

**Is there a correlation between length of the Job Title string and Salary?**

In [ ]:
# Create a new column for the length of the job title string
salaries['JobTitleLength'] = salaries['JobTitle'].str.len()

# Calculate the correlation coefficient between JobTitleLength and Salary
correlation = salaries['JobTitleLength'].corr(salaries['TotalPayBenefits'])

# Print the correlation coefficient
print(correlation)

-0.036878445932606675